openapi: 3.0.1
info:
  title: Sieve Functions API
  description: REST API for the Sieve AI media-processing platform. Sieve exposes prebuilt public functions and apps (transcription, dubbing, lip-sync, segmentation, object tracking, background removal, and more) as well as custom user functions, all invoked asynchronously as jobs. Submit a job with the Push endpoint, then poll the Jobs endpoints for status and outputs or receive results via webhooks.
  termsOfService: https://www.sievedata.com/terms
  contact:
    name: Sieve Support
    url: https://docs.sievedata.com
  version: v2
servers:
- url: https://mango.sievedata.com/v2
  description: Sieve API v2
security:
- ApiKeyAuth: []
tags:
- name: Functions
  description: Look up metadata for public and custom functions.
paths:
  /functions/{owner_name}/{function_name}:
    get:
      operationId: getFunction
      tags:
      - Functions
      summary: Get Function
      description: Get information about the given function, including its latest version.
      parameters:
      - name: owner_name
        in: path
        description: The owner of the function.
        required: true
        schema:
          type: string
        example: sieve
      - name: function_name
        in: path
        description: The name of the function.
        required: true
        schema:
          type: string
        example: dubbing
      responses:
        '200':
          description: The function metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '401':
          description: Missing or invalid API key.
        '404':
          description: Function not found.
        '422':
          description: Validation error.
components:
  schemas:
    Function:
      type: object
      required:
      - name
      - owner_name
      properties:
        name:
          type: string
          description: The name of the function.
        owner_name:
          type: string
          description: The owner of the function.
        latest_version:
          type: object
          description: The latest version of the function and its configuration.
          additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: The Sieve API key to authenticate with.
